.playFolder {
  margin: 0 auto;
  width: 304px;
  height: 304px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  margin: 1px;
  width: 95px;
  height: 95px;
  border: 2px solid black;
}
.value {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 33px;
  margin-right: 25px;
}